# project outputs
/data/
# ignore every file inside runs; you can still keep a .gitkeep if you want the folder present
/experiments/runs/*
!/experiments/runs/.gitkeep

# csv anywhere
*.csv

# python junk
__pycache__/
*.py[cod]
src/forex/__pycache__/
.ipynb_checkpoints/
